
@media (min-width: 480px) and (max-width: 992px) {

  .about {
    .container {
      padding: 70px 10px 75px 10px;
      display: flex; /**/
      flex-wrap: wrap;
    }
    background: url("../../../dist/img/about/about-768.png");
    background-size: cover;
    background-position: center; /**/

    &__header {
      margin: 0 auto;
      font-size: 28px;
      padding: 0;
    }

    &__content {
      width: 732px;
      margin: 0 auto;
      padding-top: 72px;
      padding-bottom: 45px;


      &-item {
        width: 50%;

      }
    }

    &__footer {
      font-size: 14px;
      display: flex;
      padding: 0 25px 16px 33px;
    }

    &-line {
      font-size: 12px;
      padding: 0;
      width: 95%;
      margin: 0 auto;
    }

    .about__item-img{
      margin-top: 0;
      padding-bottom: 0;
      padding-top: 0;
    }

    //
    .item {

      &-first {

        img {
          margin: 0 0 32px;
        }


      }

    }


    .item {

      &-second {

        img {
          margin: 0 0 28px;
        }

      }

    }


    .item {

      &-third {

        img {

          margin: 44px 0 21px;
        }


      }

    }


    .item {

      &-fourth {

        img {
          margin:  74px 0 32px;
        }


      }

    }


    .item {

      &-fifth {

        img {
          margin: 48px 0 27px;
        }


      }

    }


    .item {

      &-sixth {

        img {
          margin: 42px 0 27px;
        }


      }

    }

  }


}



//--------------


@media (min-width: 768px)  {

  /*test*/



  .about {
    .container {
      padding: 80px 18px;
    }

    background-position: unset; /**/

    &__header {
      font-size: 30px;
      word-spacing: 5.5px;
      padding: 0;
    }

    &__content {
      padding-top: 93px;
      padding-bottom: 60px;

    }

    &__footer {
      padding: 0 25px 16px 33px;
    }


    .item {

      &-first {

        img {
          margin-left: 75px;
          margin-right: 75px;
          align-self: flex-start;
        }

        p {
          margin: 0 52px 0 0;
        }

      }

    }


    .item {

      &-second {

        img {
          margin: 0 88px 33px;
          align-self: flex-end;
        }

        p {
          margin: 0 0 0 41px;
        }
      }

    }


    .item {

      &-third {

        img {
          margin: 54px 121px 26px;
          align-self: flex-start;
        }

        p {
          margin: 0 49px 0 0;
        }

      }

    }


    .item {

      &-fourth {

        img {
          margin: 84px 46px 37px;
          align-self: flex-end;
        }

        p {
          margin: 0 0 0 52px;

        }

      }

    }


    .item {

      &-fifth {

        img {
          margin: 58px 76px 32px;
          align-self: flex-start;
        }

        p {
          margin: 0 42px 0 0;

        }

      }

    }


    .item {

      &-sixth {

        img {
          margin: 52px 102px 32px;
          align-self: flex-end;
        }

        p {
          margin: 0 0 0 70px;
        }

      }

    }

  }

}




//--------------




@media (min-width: 993px) and (max-width: 1199px)  {

  /*test*/



  .about {
    .container {
      padding: 80px 18px;
    }
    background: url("../../../dist/img/about/about-1200.png");
    background-position: center; /**/
    background-size: cover;

    &__header {
      font-size: 32px;
      padding: 0;
    }

    &__content {
      //width: 95%;/**/
      width: 86%;
      margin: 0 auto;
      //height: 1200px;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      padding-top: 90px;
      padding-bottom: 100px;

      &-item {
        width: 29%;/**/
      }
    }

    &__footer {
      display: flex;
      width: 79%;
      margin: 0 auto;
    }

    &-line {
      width: 65%;
      margin: 0 auto;
    }

    &__item{
      &-img{
        align-self: center!important;
      }
    }

    .item {

      &-first {

        img {
          @include pad-mar-zero;
          padding-bottom: 37px;
        }

        p {
          @include pad-mar-zero;
        }

      }

    }


    .item {

      &-second {

        img {
          @include pad-mar-zero;
          padding-bottom: 33px;
        }

        p {
          @include pad-mar-zero;
        }
      }

    }


    .item {

      &-third {

        img {
          @include pad-mar-zero;
          padding-bottom: 26px;
        }

        p {
          @include pad-mar-zero;
        }

      }

    }


    .item {

      &-fourth {

        img {
          @include pad-mar-zero;
          padding-bottom: 37px;
          margin-top: 110px;
        }

        p {
          @include pad-mar-zero;

        }

      }

    }


    .item {

      &-fifth {

        img {
          @include pad-mar-zero;
          padding-bottom: 32px;
        }

        p {
          @include pad-mar-zero;

        }

      }

    }


    .item {

      &-sixth {

        img {
          @include pad-mar-zero;
          padding-bottom: 32px;
        }

        p {
          @include pad-mar-zero;
        }

      }

    }



  }

}


//-----------

@media (min-width: 1200px) {

  .about {


    &__content {
      width: 86%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      padding-top: 90px;
      padding-bottom: 118px;

      &-item {
        width: 29%;/**/
      }
    }

    &__footer {
      display: flex;
      width: 79%;
      margin: 0 auto;
    }

    &-line {
      width: 65%;
      margin: 0 auto;
    }

    &__item{
      &-img{
        align-self: center!important;
      }
    }

    .item {

      &-first {

        img {
          @include pad-mar-zero;
          padding-bottom: 37px;
        }

        p {
          @include pad-mar-zero;
        }

      }

    }


    .item {

      &-second {

        img {
          @include pad-mar-zero;
          padding-bottom: 33px;
        }

        p {
          @include pad-mar-zero;
        }
      }

    }


    .item {

      &-third {

        img {
          @include pad-mar-zero;
          padding-bottom: 26px;
        }

        p {
          @include pad-mar-zero;
        }

      }

    }


    .item {

      &-fourth {

        img {
          @include pad-mar-zero;
          padding-bottom: 37px;
          margin-top: 110px;
        }

        p {
          @include pad-mar-zero;

        }

      }

    }


    .item {

      &-fifth {

        img {
          @include pad-mar-zero;
          padding-bottom: 32px;
        }

        p {
          @include pad-mar-zero;
        }

      }

    }


    .item {

      &-sixth {

        img {
          @include pad-mar-zero;
          padding-bottom: 32px;
        }

        p {
          @include pad-mar-zero;
        }

      }

    }

  }

}