//------------------
@media (min-width: 481px) and (max-width: 992px) {

  //--
  .header {
    background: url("../../../dist/img/header/header-bg-768.png") ;
    background-position: center 20%;

    &__nav {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;/*?*/

      &-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      &-logo {
        text-transform: uppercase;
        font-size: 20px;/*24*/
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-button {
        font-size: 15px;
        padding: 12px 29px;
        margin: 28px 0 22px 0;/*bax*/
      }

      &-hamburger {
        display: none;
      }

    }

    &__logo {


      &-name {
        padding-left: 14px;
        color: #8d81ac;
        display: inline-block;
      }
    }

    &__hamburger {
      &-line {
      }
    }

    &__menu {
      padding-bottom: 0;
      background: inherit;
      //@include link-zero;
      text-decoration: none;
      color: #8d81ac;
      display: flex;
      width: 100%;
      margin-bottom: 18px;
      align-items: center;
      justify-content: center;

      &-link {
        @include ham-zero;
        text-align: center;
        font-size: 14px;
        width: calc(100% / 4 - 25px);
      }
    }

    //----

    &__content {
      padding: 46px 0 466px 0;

      &-h {
        font-size: 44px;
      }

      &-text {
        font-size: 14px;/*13px*/
        margin: 17px 0 15px 0;

        span {
          display: inline-block;
        }
      }

      &-version {
        font-size: 11px;
      }

      &-download {
        padding: 23px 88px;
        font-size: 14px;
      }
    }


  }

}

//------------

@media (min-width: 768px) {


  //--
  .header {
    background: url("../../../dist/img/header/header-bg-1200.png");
    background-position: center;

    &__nav {

      &-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
      }

      &-logo {
        font-size: 24px;
      }

      &-button {
        font-size: 16px;
        padding: 12px 35px;
        margin: 24px 0 22px 0;
      }

      &-hamburger {
        display: none;
      }

    }

    &__logo {

      &-name {
        padding-left: 17px;
      }
    }


    &__menu {
      @include link-zero;
      margin-bottom: 22px;

      &-link {
        @include ham-zero;
        font-size: 16px;
        text-align: center;
        width: calc(100% / 4 - 35px);
      }
    }

    //----

    &__content {
      padding: 50px 0 488px 0;

      &-h {
        font-size: 52px;
      }

      &-text {
        font-size: 17px;
        margin: 26px 0 20px 0;

        span {
          display: inline-block;
        }
      }


      &-download {
        padding: 23px 101px;
        font-size: 15px;
        bottom: -23px;
      }
    }

  }

  .button-993{
    display: none;
  }

}


//-------------------


@media (min-width: 993px) and (max-width: 1199px) {

  //--
  .header {
    background: url("../../../dist/img/header/header-bg-1200.png");
    background-position: center;

    &__nav {
      padding: 0 90px;

      &-row {
        width: unset;
      }

      &-logo {
        text-transform: uppercase;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-button {
        display: none;
      }

      &-hamburger {
        display: none;
      }

    }

    &__logo {
      /**/

      &-name {
        //padding-left: 17px;
        color: #8d81ac;
        display: inline-block;
      }
    }


    &__menu {
      padding-bottom: 0;
      background: inherit;

      @include link-zero;
      color: #8d81ac;
      display: flex;
      width: 680px;
      margin-bottom: 0;
      align-items: center;
      justify-content: center;

      &-link {
        @include ham-zero;
        text-align: center;
        width: calc(100% / 5 - 5px);
      }
    }

    //----

    &__content {
      padding: 55px 0 488px 0;

      &-h {
        font-size: 56px;
      }

      &-text {
        font-size: 20px;
        margin: 17px 0;

        span {
          display: inline-block;
        }
      }

    }

  }

  .button-993{
    display: inline-block;
    color: white;
    font-size: 16px;
    background: #8d81ac;
    padding: 12px 35px;
    margin: 27px 0;
    border-radius: 30px;

  }

}

//------------

@media (min-width: 1200px) {

  //--
  .header {
    background-size: cover;

    &__nav {
      padding: 0 90px;
      display: flex;
      flex-direction: row;

      &-row {
        width: unset;
      }

      &-logo {
        text-transform: uppercase;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-button {
        display: none;
      }

      &-hamburger {
        display: none;
      }

    }

    &__logo {


      &-name {
        //padding-left: 17px;
        color: #8d81ac;
        display: inline-block;
      }
    }


    &__menu {
      padding-bottom: 0;
      background: inherit;

      @include link-zero;
      color: #8d81ac;
      display: flex;
      width: 680px;
      margin-bottom: 0;
      align-items: center;
      justify-content: center;

      &-link {
        @include ham-zero;
        text-align: center;
        width: calc(100% / 5 - 5px);
      }
    }

    //----

    &__content {
      padding: 60px 0 488px 0;

      &-h {
        font-size: 60px;
      }

      &-text {
        font-size: 22px;
        margin: 18px 0;

      }


    }

  }

  .button-993{
    display: inline-block;
    color: white;
    font-size: 16px;
    background: #8d81ac;
    padding: 12px 35px;
    margin: 31px 0;
    border-radius: 30px;

  }

}



