//------------------

.header{
  //padding: 0 15px;
  background: url("../../dist/img/header-bg-320.png");
  background-position: center bottom;//
  position: relative;

  &__nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0 15px;
    background-color: #27262a;
    //width: 320px;/**/
    //height: 103px;/**/
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo{

    }
    &-row{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      position: relative;/**/
    }
    &-button{
      color: white;
      background: #8d81ac;
      padding: 12px 23px;
      margin: 33px 49px;
      border-radius: 30px;
      &:hover{
        color: #8d81ac;
        background: white;
        cursor: pointer;
      }
    }

    &-hamburger{
      display: flex;
      flex-direction: column;
      justify-content: space-between;/**/
      height: 21px;
    }

    //&-menu{
    //
    //}
  }
  /**/
  /*
  &-menu{

  }
  */
/**/
  &__logo{
    &-img{
      background: url("../../dist/img/header-navbar-logo.png");
      width: 43px;
      height: 41px;
       &:hover{
         background: url("../img/logo-hover.png");
         cursor: pointer;
       }
    }
    &-name{
      display: none;
      font-family: 'Lato', sans-serif;
      &:hover{
        color: white;
        cursor: pointer;
      }
    }
  }

  &__hamburger{
    &-line{
        width: 26px;
        border-bottom: 4px solid white;
    }
  }

  &__menu{
    display: none;
    background: #333333;
    padding-bottom: 10px;
    &-link{
      color: white;
      font-weight: normal;
      background-color: #333333;
      padding: 35px 0 35px 33px;
      font-size: 19px;
      border-bottom: 1px solid #585f66;
      &:hover{
        text-decoration: none;
        position: relative;
        color: #8d81ac;
        &:before{
          position: absolute;
          content: '';
          left: 0;
          top: 20px;
          height: 53px;
          border-left: 8px solid #8d81ac;
        }
      }
    }
  }

  &__content{
    font-family: 'Montserrat', sans-serif;
    //position: relative;
    text-transform: uppercase;
    color: #8d81ac;
    padding: 43px 32px 424px 30px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-h{
      color: white;
      font-weight: bold;
      text-transform: none;
      font-size: 35px;
    }

    &-text{
      font-size: 13px;
      margin: 20px 0;
      span{
        display: block;
        margin-top: 10px;
      }
    }

    &-version{
      font-size: 11px;
      word-spacing: 2.5px;
      color: #585f66;
    }
    /**/
    //&-download{
    //  text-align: center;
    //  position: absolute;
    //  bottom: 0;
    //}

    &-download{
      font-weight: bold;
      text-transform: none;
      border-radius: 30px;
      background-color: #8d81ac;
      color: white;
      padding: 16px 50px;
      //padding: 16px 64px;
      font-size: 13px;
      position: absolute;
      bottom: -22px;
      &:hover{
        background: white;
        cursor: pointer;
        color: #8d81ac;
      }
    }
  }


}

.button-993{
  display: none;
}



/*? yerine bax*/
.line-first{
  width: 20px;
  align-self: flex-end;
}



//-------------------