//------------------

.header{
  background: url("../../dist/img/header/header-bg-320.png");
  background-position: center bottom;//
  position: relative;


  &__wrap{
    background-color: #27262a;
  }



  &__nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0 15px;
    //background-color: #27262a;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo:hover {
      cursor: pointer;
      .header__logo {
        &-img {
          background: url("../../dist/img/header/logo-hover.png");
        }
        &-name {
          color: white;
        }
      }
    }

    &-row{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      position: relative;/**/
    }
    &-button{
      color: white;
      background: #8d81ac;
      padding: 12px 23px;
      margin: 33px 49px;
      border-radius: 30px;
      &:hover{
        color: #8d81ac;
        background: white;
        cursor: pointer;
      }
    }

    &-hamburger{
      display: flex;
      flex-direction: column;
      justify-content: space-between;/**/
      height: 21px;
    }

  }
  /**/
  &__logo{
    &-img{
      display: inline-block;/*t*/
      background: url("../../dist/img/header/header-navbar-logo.png");
      width: 43px;
      height: 41px;
      &:hover{
        //background: url("../img/header/logo-hover.png");
        //cursor: pointer;
      }
    }
    &-name{
      color: #8d81ac;
      display: none;
      font-family: 'Lato', sans-serif;
      &:hover{
        //color: white;
        //cursor: pointer;
      }
    }
  }

  &__hamburger{
    &-line{
      width: 26px;
      border-bottom: 4px solid white;
    }
  }

  &__menu{
    display: none;
    background: #333333;
    padding-bottom: 10px;
    &-link{
      text-decoration: none;/**/
      color: white;
      font-weight: normal;
      background-color: #333333;
      padding: 35px 0 35px 33px;
      font-size: 19px;
      border-bottom: 1px solid #585f66;
      &:hover{
        text-decoration: none;
        position: relative;
        color: #8d81ac;
        &:before{
          position: absolute;
          content: '';
          left: 0;
          top: 20px;
          height: 53px;
          border-left: 8px solid #8d81ac;
        }
      }
    }
  }

  &__content{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #8d81ac;
    padding: 43px 32px 424px 30px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-h{
      color: white;
      font-weight: bold;
      text-transform: none;
      font-size: 35px;
    }

    &-text{
      font-size: 13px;
      margin: 20px 0;
      span{
        display: block;
        margin-top: 10px;
      }
    }

    &-version{
      font-size: 11px;
      word-spacing: 2.5px;
      color: #585f66;
    }

    &-download{
      font-weight: bold;
      text-transform: none;
      border: 1px solid transparent;
      border-radius: 30px;
      background-color: #8d81ac;
      color: white;
      padding: 16px 50px;
      //padding: 16px 64px;
      font-size: 13px;
      position: absolute;
      bottom: -22px;
      &:hover{
        background: white;
        border: 1px solid #8d81ac;
        cursor: pointer;
        color: #8d81ac;
      }
    }
  }

  .container{
    min-width: unset;
  }

}

.button-993{
  display: none;
}



.line-first{
  width: 20px;
  align-self: flex-end;
}



//-------------------

//.header__nav-logo:hover {
//  color: white;
//}
