@import "reset";

.container {
  min-width: 300px;
  min-height: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}




@import "header";
@import "revo";
@import "whatyouget";
@import "about";
@import "pricing";
@import "media/all-media.scss";
