@import "reset";

.container {
  min-width: 300px;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}


@mixin font-family {
  font-family: AdobeInvisFont, Montserrat-Regular, Courier;
  text-align: center;
}


@import "header";
@import "revo";
@import "whatyouget";
@import "about";
@import "pricing";
@import "media/all-media.scss";
